@import '~antd/dist/antd.css';

.content-layout {
    background: #262b41;
}

.footer-layout {
    background: #262b41;
    color: white;
}

.ant-layout{
    min-height:  calc(100vh - 1px);
}
.header{
    background: #63b2b8;
    padding: 0;
    height: 101px
}

.div-content{
    margin-right: 15px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 24px;
    height: calc(100vh - 80px)
}

.mainMenu{
    background: #262b41;
    color: gray;
}

.logo{
    padding: 15px;
}

.itemText {
    color: white;
}

.nav-link {
    color: lightgrey;
}

.slider2{
    background: #262b41;
}