@import '~antd/dist/antd.css';

.ant-layout{
    min-height:  calc(100vh - 1px);
}
.header{
    background: #63b2b8;
    padding: 0;
    height: 101px
}

#div-content{
    padding: 24px;
    background-color:#fff;
    height: calc(100vh - 80px)
}

.mainMenu{
    background: #262b41;
    color: gray;
}

.logo{
    padding: 15px;
}

.itemText {
    color: white;
}

.nav-link {
    color: lightgrey;
}

.slider2{
    background: #262b41;
}