@import '~antd/dist/antd.css';

.slider2{
    background: #262b41;
}

.content-layout {
    background: #262b41;
}

.footer-layout {
    background: #262b41;
    color: white;
    text-align: center;
}

.div-content{
    margin-right: 15px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 24px;
    height: calc(100vh - 80px)
}

.mainMenu{
    background: #262b41;
    color: gray;
    padding-top: 20px;
}

.logo{
    padding: 15px;
    margin-top: 25px;
}

.itemText {
    color: white;
}

.nav-link {
    color: lightgrey;
}