
.Login-Whole {
    background-color: lightgrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Login {
    min-height: 70vh;
    width: 300px;
    padding-top: 50px;
    border-radius: 25px;
    font-size: calc(10px + 2vmin);
}

.Login-Input{
    margin:auto;
    justify-content: center;
}

.Login-Button{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFCB7C;
}

.Login-Logo{
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
