.slider2{
    background: #262b41
}

.itemText {
    color: white;
}

.mainMenu{
    background: #262b41;
    color: gray;
    padding-top: 20px;
}

.nav-link {
    color: lightgrey;
}

.slider2{
    background: #262b41;
}

.logo{
    padding: 15px;
}

#div-content{
    padding: 24px;
    background-color:#fff;
    height: calc(100vh - 80px)
}

.invi{
    visibility: hidden;
    width: 0px;
    height: 0px;
}