.maindiv{
    background-color: #00a0e9;
}
.Layout{
    background-color: #262b41;
}
.Content{
    padding-top: 82px;
    display: block;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    border-width: 3px;
    box-shadow: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

.wrapper{
    margin: 50px;
    margin-top: -40px;
    padding: 20px 0px;
    width: 980px;
}

.es1{
     box-sizing: border-box;
     margin-right: 0;
     padding-right: 32px;
     width: 580px;
     display: inline-block;
     vertical-align: top;
}

.es2{
    display: inline-block;
    vertical-align: top;
}

.Login-block{
    height: 600px;
}

.Login-card{
    align-items: center;
    background-color: #262b41;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2), 0 8px 16px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 10px 15px;
    width: 396px;
}

.Login-uform{
    font-size: 17px;
    padding: 6px 0;
    display: inline-block;
}

.Input{
    font-size: 17px;
    padding: 12px 12px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.Div-btn{
    padding: 10px 12px;
}

.User-btn{
    background-color: #FEBB1B;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    width: 300px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.Boy-btn{
    background-color: #FEBB1B;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    width: 300px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.Order-block{
    height: 550px;
}

.Order-form{
    height: 35px;
}

.st1{
    font-size: 24px;
    line-height: 32px;
    padding: 0 0 20px;
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    padding-top: 30px;
}

.Ps1{
    color: #415765;
    font-family: Gotham,Helvetica,Arial,sans-serif!important;
    font-size: 42px;
    text-align: center;
    font-weight: 800;
    line-height: 1;
    box-sizing: border-box;
}

.Ps2{
    color: #fff;
    padding-top: 15px;
    font-family: Gotham,Helvetica,Arial,sans-serif!important;
    /*font-size: 42px;*/
    text-align: center;
    box-sizing: border-box;
}

.pSm{
    font-family: Gotham,Helvetica,Arial,sans-serif!important;
    font-size: large;
    color: rgba(0, 0, 0, 0.85);
}

.Footer{
    text-align: center;
}